.container{
    display: grid;
    grid-template-columns: 30% 30%;
    background-color: white;
    width: 40%;
    column-gap: 10%;
    row-gap: 5%;
    /* border: 1px solid black; */
    
}
.header{
    background-color: antiquewhite;
    grid-column-start: 1;
    grid-column-end: 4;
    
}
.footer{
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 4;
}
.section{
    background-color: bisque;
    margin-left: auto;
}