body{
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: 30% 30%;
    background-color: white;
    width: 100vw;
    /* height: 40vh; */
    /* column-gap: 10%; */
    /* row-gap: 5%; */
    /* border: 1px solid black; */   
}
.header{
    background-color: limegreen;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    height: 14vh;
    
}
.aside{
    background-color: white;
    text-align: center;
}
.footer{
    background-color: limegreen;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    width: 100vw;
    height: 10vh;
    font-weight: bold;
}
.section{
    background-color: lightgrey;
    /* margin-left: auto; */
    width: 70vw;
    height: 70vh;
    text-align: center;
}